.form {
  width: 28rem;
  margin: 10rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.form-title {
  margin-bottom: 2rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.form-input {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input label {
  margin-bottom: 0.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #191970;
}

.form-input input {
  padding: 0.5rem;
  border: 1px solid #191970;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
}

.form-submit-btn {
  padding: 1rem 2rem;
  background-color: #00BFFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.form-submit-btn:hover {
  background-color: #0077BE;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmation {
  background-color: #d4edda;
  color: #155724;
  font-size: large;
  border: 1px solid #c3e6cb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.qr-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

.qr-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
}

.qr-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.qr-item a {
  margin-top: 1rem;
}
.download-all-btn {
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-all-btn:hover {
  background-color: #f05d5d;
}


.download-btn {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #00BFFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .download-btn:hover {
  background-color: #0077BE;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .spinner {
    animation: spin 1s linear infinite;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007aff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  