.form {
    width: 28rem;
    margin: 4rem auto 4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .form-title {
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
  }
  
  .form-input {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input label {
    margin-bottom: 0.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    color: #191970;
  }
  
  .form-input input {
    padding: 0.5rem;
    border: 1px solid #191970;
    border-radius: 5px;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .form-submit-btn {
    padding: 1rem 2rem;
    background-color: #00BFFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .form-submit-btn:hover {
    background-color: #0077BE;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .error-message {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #f01032;
    color: #0e0e3a;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
    
    .error-message svg {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.5rem;
    }
    
    .error-message.fade-enter {
      opacity: 0;
      transform: translateX(-10%);
    }
    
    .error-message.fade-enter-active {
      opacity: 1;
      transform: translateX(0%);
      transition: all 0.2s ease-out;
    }
    
    .error-message.fade-exit {
      opacity: 1;
      transform: translateX(0%);
    }
    
    .error-message.fade-exit-active {
      opacity: 0;
      transform: translateX(-10%);
      transition: all 0.2s ease-in;
    }
    
    .confirmation-message {
        background-color: #3bb78f;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
      }